<!-- Account comment Cards -->
{{#if comments.length}}
<div class="container-fluid" id="comments">
    <div class="row account-cards comment-list">
        {{#each comments as |comment|}}
        <div class="col small-cards">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">{{comment.title}}</h5>
                    <p class="card-text">{{comment.content}}</p>
                    <span class="bywho">Created by {{comment.userName}} on {{format_date comment.date_created}} </span>

                    <div class="ms-auto"><i class="fa fa-edit edit" data-id1="{{comment.id}}" type="submit"
                            style="font-size:32px;"></i><i class="fa fa-trash-o trash" data-id="{{comment.id}}" type="submit"
                            style="font-size:35px;"></i></div>


                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{else}}
<!-- Account without Comment -->
<div class="container-fluid empty-text">
    <p class="text-center welcome">
        Welocme! <span class="user">{{username}}</span>, start to comment today!</p>
    <div class="text-center"><img src="/images/bb8.gif" alt="bb8"></div>
</div>
{{/if}}

<script src="/js/delete-comment.js"></script>