<!-- a comment page -->
<div class="container-fluid img-center" id="comment">
  <div class="col small-cards">
    <div class="card">
      <div class="clearfix">
        <img src="{{comment.image}}" class="col-md-6 float-md-start mt-4 mb-3 ms-md-3 comment-img"
          alt="{{comment.title}}">
        <h5 class="card-title mt-3" data-id="{{comment.id}}">{{comment.title}}</h5>
        <div class="card-body">
          <p class="card-text margin-left">{{comment.content}}</p>
          <span class="bywho">Created by <span class="username">{{user.name}}</span> on {{format_date
            comment.date_created}} </span>
          <br>
        </div>

        <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-blue mt-3 mb-3" id="comment-btn">Comment</a>
      </div>
    </div>

  </div>


  {{!-- Comment form modal component --}}

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Your Comment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="form new-comment-form">
          <div class="modal-body">
            <div class="form-group mb-3">
              {{!-- <label for="message-text" class="col-form-label">Content</label> --}}
              <input class="form-control" type="text" placeholder="Comment here...">
            </div>
          </div>
          <div class="modal-footer form-group">
            <a href="/comment/{{comment.id}}"><button type="submit" class="btn btn-blue" id="comment-btn">Submit</button></a>
          </div>
        </form>
      </div>
    </div>
  </div>

  {{!-- Other developers' comments --}}

  <div class="row">
    {{#each comments as |comment|}}
    <div class="col small-cards" id="add-comment">
      <div class="card">
        <a class="card-link" href="/comment/{{comment.id}}">
          <img src="{{comment.image}}" width="10px" class="card-img-top" alt="{{comment.title}}">
          <div class="card-body">
            <h5 class="card-title" data-id="{{comment.id}}">{{comment.title}}</h5>
            <p class="card-text">{{comment.content}}</p>
            <span class="bywho">Created by <span class="username">{{user.name}}</span> on {{format_date
              comment.date_created}} </span>
            <br>
          </div>
      </div>
      </a>

      
      
      <script src="/js/comment-btn.js"></script>

    </div>
    {{/each}}
  </div>
</div>